raw_data
raw_data2
compressed_data
saved_plots
analysis
daily_averages
.idea
config.yaml

papers/
IRBEM/
processed_data/
.ipynb_checkpoints/
.virtual_documents/

misc_images/
posters/
presentations/
ResearchPy/